body {
    color: #fff;
    background-color: #151515;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

/* Landing section */
.landing {
    position: absolute;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.landing-text {
    z-index: 10;
    width: 50%;
    float: left;
    text-align: center;
    margin-left: 60px;
    font-size: 2rem;
    background-origin: padding-box;
}

.name {
    font-size: 25px;
    word-spacing: normal;
    margin-top: -40px;
    margin-bottom: -25px;
}

.typewriter {
    
    font-size: 1.2rem;
    color: #000;
}

.landing-svg-div {
    margin-left: 30px;
    width: 50%;
    float: right;
}

.landing-svg {
    /* border: 2px white solid; */
    z-index: inherit;
    height: 680px;
    width: 700px;
}

